</div>
<div class="back">
  <div class="exit"></div>
</div>
    


<!-- social-block  -->
    <div class="social-block">

      <a href="#"><i class="icon-share-back facebook"></i></a>
      <a href="#"><i class="icon-share-back vk"></i></a>
      <a href="#"><i class="icon-share-back odn"></i></a>
      <a href="#"><i class="icon-share-back google"></i></a>
      <a href="#"><i class="icon-share-back yandex"></i></a>
                            <!-- AddThis Button BEGIN -->
<!--             <div class="addthis_toolbox addthis_default_style" data-url="<?php echo $share; ?>"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> -->
            <!-- AddThis Button END -->
    </div>
<!-- social-block end -->


<!-- product added -->
    <div class="product-added">
      <div class="exit2"></div>
      <span class="add-product-class">ТОВАР ДОБАВЛЕН В КОРЗИНУ</span>
      <img src="" alt="">
      <ul class="list-unstyled">
        <li class="brend"></li>
        <h1></h1>
      </ul>
      <p class="text-center to-checkout">
                <!--  <a href="https://nexll.com.ua/twelves/index.php?route=checkout/cart"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a>&nbsp;&nbsp;&nbsp;  -->
          <a href="https://nexll.com.ua/twelves/index.php?route=ncheck/check">Оформление заказа</a>
        </p>
        <p class="text-center continue">
          <a href="#">Выбрать еще одни часы</a>
        </p>
    </div>
<!-- product added end-->

<footer>
<div class="product-footer">
<div class="container-fluid">
    <div class="row">

          <div class="col-md-4 col-sm-12">
        <form action="#" class="sent">
          <label for="">Рассылки</label>
          <input type="email" placeholder="e-mail">
          <input type="submit" value="Отправить" class="my-btn my-btn-style-custom">
        </form>
      </div>
      

      <div class="col-md-5 col-sm-7">
        <div class="footer-social">
          <a href="https://www.facebook.com/twelvesshop "><i class="icon-footer icon-facebook"></i></a>
          <a href="https://vk.com/12s_shop "><i class="icon-footer icon-vk"></i></a>
          <a href="https://twitter.com/12s_shop "><i class="icon-footer icon-odn"></i></a>
          <a href=" https://ru.pinterest.com/twelveshop/ "><i class="icon-footer icon-google"></i></a>
          <a href="#"><i class="icon-footer icon-yandex"></i></a>
        </div>
      </div>

      <div class="col-md-3 col-sm-5">
        <div class="footer-number">
          +7 495 741 12 67
        </div>
      </div>

    </div>
    <hr>
     <div class="row">
      
            <div class="col-md-4 col-sm-12">
      
        <ul class="list-unstyled footer-menu">
          <li><a href="index.php?route=product/category&path=60">Часы</a></li>
          <li><a href="index.php?route=information/information&information_id=4">О проекте</a></li>
          <li><a href="index.php?route=vblog/blog">Блог</a></li>
          <li><a href="index.php?route=information/support&information_id=6">Поддержка</a></li>
          <li><a href="index.php?route=common/home">Контакты</a></li>
        </ul>
        <ul class="list-unstyled footer-menu fm-right">
          <li><a href="index.php?route=product/category&path=60">Наручные часы</a></li>
          <li><a href="index.php?route=product/category&path=61">Настенные/настольные часы</a></li>
          <li><a href="index.php?route=product/category&path=62">Аксессуары</a></li>
          <li><a href="index.php?route=account/edit">Личный кабинет</a></li>
          <li><a href="index.php?route=account/wishlist2">Избранное</a></li>

        </ul>
        <hr class="hidden-lg hidden-md">
      </div>

      <div class="col-md-5 col-sm-7">

        <div class="footer-paysystem">
          <i class="icon-pay ligpay"></i>
          <i class="icon-pay visa"></i>
          <i class="icon-pay maestro"></i>
          <i class="icon-pay mastercard"></i>
        </div>
      </div>

      <div class="col-md-3 col-sm-5">
        <div class="footer-adress">
          <p>Режим работы с 9:00 до 21:00 ежедневно</p>
        </div>
      </div>


    </div>
  </div>
  </div>
  <div class="arrow-up">
    <a href="#">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</footer>

<!-- 
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
 -->





<!--  <?php if ($informations) { ?>
      <div class="col-sm-3">
        <h5><?php echo $text_information; ?></h5>
        <ul class="list-unstyled">
          <?php  foreach ($informations as $information) { ?>
          <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
          <?php } ?>
        </ul>
      </div>
      <?php } ?>
      <div class="col-sm-3">
        <h5><?php echo $text_service; ?></h5>
        <ul class="list-unstyled">
          <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
          <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
          <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5><?php echo $text_extra; ?></h5>
        <ul class="list-unstyled">
          <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
          <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
          <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
          <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5><?php echo $text_account; ?></h5>
        <ul class="list-unstyled">
          <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
          <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
          <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
          <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
        </ul>
      </div>  -->

<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->

</body></html>