<div id="search" class="input-group">
<div class="cover-input-search">
	<input type="text" name="search" value="<?php echo $search; ?>" class="form-control input-lg" autofocus/>
	<span class="exit3"></span>
	  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>


</div>