<?php echo $header; ?>
<script src="catalog/view/javascript/jquery.maskedinput-1.2.2.js" type="text/javascript"></script>
<div class="product-footer nx-cart-cover ncheck">
<div class="container-fluid">
<div class="row">
  <div id="content" class="col-md-12">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
          <div class="table table-striped">
            <div>
            <?php echo 'qwesddwqeqdq';?>
              <?php foreach ($products as $product) { ?>
              <div class="row tr" id="<?=$product['product_id']?>">
                <div class="td col-xs-12 col-sm-3 col-md-2 text-center"><?php if ($product['thumb']) { ?>
                  <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-thumbnail" /></a>
                  <?php } ?></div>
                <div class="td col-xs-12 col-sm-4 col-md-4 text-left  product-info"> 
                <a class="brend" href="#"><?php echo $product['manufacturer']; ?></a>
       			<a class="product-name" href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                <input class="parent_<?=$product['product_id']?>" name="parent" type="hidden" value="<?=$product['cart_id']?>"/>
                <input type="hidden" name="one_prod" value="<?=$product['price']?>"/>
                <!--  
                <div class="color">
                <div class="color-item-cart" cart_id="<?=$product['cart_id']?>" > 
                <?php foreach($product['parent'] as $color){$parent=strtolower($color['color']);
                              switch($parent){
                    case "темно-коричневый":$parent="dark-brown"; break;
                    case "светло-коричневый":$parent="light-brown"; break;
                    case "серый":$parent="gray"; break;
                    case "черный":$parent="black"; break;
                    case "голубой":$parent="blue"; break;
                    case "красный":$parent="red"; break;
                    case "коричневый":$parent="brown"; break;
                    case "белый":$parent="white"; break;
                    case "бежевый":$parent="beige"; break;
                    case "синий":$parent="light-blue"; break;
                    case "темно-синий":$parent="dark-blue"; break;
                    case "светлый":$parent="light"; break;
                    case "стальной":$parent="steal"; break;
                }
                ?>
                <input type="radio" name="color" id="<?=$parent?>" hidden="" >
                <label cart_id="<?=$product['cart_id']?>" old_id="<?=$product['product_id']?>" product_id="<?=$color['product_id']?>" for="<?=$parent?>" class="<?=$parent?>"></label>              
                <?php } ?>
                </div>
                </div>
                !-->
                 <!--  <?php if (!$product['stock']) { ?>
                  <span class="text-danger">***</span>
                  <?php } ?>
                  <?php if ($product['option']) { ?>
                  <?php foreach ($product['option'] as $option) { ?>
                  <br />
                  <small><?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
                  <?php } ?>
                  <?php } ?>
                  <?php if ($product['reward']) { ?>
                  <br />
                  <small><?php echo $product['reward']; ?></small>
                  <?php } ?>
                  <?php if ($product['recurring']) { ?>
                  <br />
                  <span class="label label-info"><?php echo $text_recurring_item; ?></span> <small><?php echo $product['recurring']; ?></small>
                  <?php } ?> -->
                  </div>
                <div class="td text-left col-xs-12 col-sm-2 col-md-2"> 
                <span class="quantity">
                   <button class="cart-button decrease">-</button>
                  <input  type="text" name="quantity[<?php echo $product['cart_id']; ?>]" value="<?php echo $product['quantity']; ?>" size="1" class="form-control quantity_product" />
                   <button  class="cart-button increase">+</button>
                </span>
            	</div>

                <div class="td text-right col-xs-12 col-sm-3 col-md-4 product-price-block">
                <button class="star-button cart-star-button" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('<?php echo $product['cart_id']; ?>');" ><i class="pr2-icon icon-pr2-star"></i></button>
                           <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="cart-button-exit" onclick="cart.remove('<?php echo $product['cart_id']; ?>');"><i class="fa fa-exit"></i></button>
                 <div class="product-price"><?php echo $product['total']; ?></div>
                </div>
              </div>
              <?php } ?>
             <!--  <?php foreach ($vouchers as $voucher) { ?>
              <tr class="row">
                <td></td>
                <td class="text-left col-md-3"><?php echo $voucher['description']; ?></td>
                <td class="text-left"></td>
                <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                    <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger" onclick="voucher.remove('<?php echo $voucher['key']; ?>');"><i class="fa fa-times-circle"></i></button>
                    </span></div></td>
                <td class="text-right"><?php echo $voucher['amount']; ?></td>
                <td class="text-right"><?php echo $voucher['amount']; ?></td>
              </tr>
              <?php } ?> -->
            </div>
          </div>
      
      </form>
      </div>

<section class="product-footer nx-cart-cover">
	<div style="display:none" class="for_pp"></div>
	<div class="container-fluid">
	<div class="col-md-6">
	    <?php if(isset($user['name'])){ ?>
		<input value="<?=$user['name']?>" class="input" type="text" name="name" placeholder="Имя">
		<input value="<?=$user['mail']?>" class="input" type="email" name="email" placeholder="E-mail">
		
		<input style="width:49%; margin-left: 0;" class="input pull-left widthquoter" type="text" list="country" placeholder="Страна" "value="<?=$user['country']?>">
	
         <datalist id="country">
        <?php
         $headerOptions = array(
        'http' => array(
            'method' => "GET",
            'header' => "Accept-language: en\r\n" . // Вероятно этот параметр ни на что не влияет
            "Cookie: remixlang=$lang\r\n"
           )
             );
              $streamContext = stream_context_create($headerOptions);
        $countries=json_decode(file_get_contents("https://api.vk.com/api.php?oauth=1&method=database.getCountries&v=5.5",false,$streamContext),1);
    
        foreach($countries['response']['items'] as $countrie){ ?>
                <option value="<?=$countrie['title']?>" >
                
         <?php }
                 $countries=json_decode(file_get_contents("https://api.vk.com/api.php?oauth=1&method=database.getCountries&v=5.5&need_all=1",false,$streamContext),1);
   
        foreach($countries['response']['items'] as $countrie){ ?>
                <option value="<?=$countrie['title']?>" >
                
         <?php } ?>
          ?>
       
        </datalist>
		<input placeholder="Город" "name="city" class="input pull-right widthfifty" type=""text>

		
		<input name="address_1" value="<?=$user['address_1']?>" class="input pull-left widthfifty" type="text" placeholder="Улица">
		<input name="house" class="input pull-left widthquoter" type="text" placeholder="Дом">
		<input name="flat"class="input pull-right widthquoter" type="text" placeholder="Квартира">
		<input name="telephone" value="<?=$user['telephone']?>" class="input" type="text" placeholder="Телефон">
	
		<select name="payment" class="input" id="">
        <option value="paypal">PayPal</option>
        <option value="yandex">Yandex money</option>
        <option value="money">Наличными</option>
      </select>
		<textarea class="input" name="" id="" cols="30" rows="10" placeholder="Комментарий к заказу"></textarea>
		
        <?php } else {?>
        
		<input  name="name" class="input" type="text" placeholder="Имя">
		<input name="email" class="input" type="email" placeholder="E-mail">
			<input style="width:49%; margin-left: 0;" class="input pull-left widthquoter" type="text" list="country" placeholder="Страна" >
	
         <datalist id="country">
        <?php
         $headerOptions = array(
        'http' => array(
            'method' => "GET",
            'header' => "Accept-language: en\r\n" . // Вероятно этот параметр ни на что не влияет
            "Cookie: remixlang=$lang\r\n"
           )
             );
              $streamContext = stream_context_create($headerOptions);
        $countries=json_decode(file_get_contents("https://api.vk.com/api.php?oauth=1&method=database.getCountries&v=5.5",false,$streamContext),1);
    
        foreach($countries['response']['items'] as $countrie){ ?>
                <option value="<?=$countrie['title']?>" >
                
         <?php }
                 $countries=json_decode(file_get_contents("https://api.vk.com/api.php?oauth=1&method=database.getCountries&v=5.5&need_all=1",false,$streamContext),1);
   
        foreach($countries['response']['items'] as $countrie){ ?>
                <option value="<?=$countrie['title']?>" >
                
         <?php } ?>
          ?>
       
        </datalist>
		<input placeholder="Город" "name="city" class="input pull-right widthfifty" type=""text>
		
		<input name="address_1" class="input pull-left widthfifty" type="text" placeholder="Улица">
		<input name="house" class="input pull-left widthquoter" type="text" placeholder="Дом">
		<input name="flat" class="input pull-right widthquoter" type="text" placeholder="Квартира">
		<input name="telephone" class="input" type="text" placeholder="Телефон">
		<select name="payment" class="input" id="">
            <option value="paypal">PayPal</option>
            <option value="yandex">Yandex money</option>
            <option value="money">Наличными</option>
          </select>
		<textarea class="input" name="" id="" cols="30" rows="10" placeholder="Комментарий к заказу"></textarea>
		
		
		<?php } ?>
	</div>
	<div class="col-md-6">
	
	<div class="check-cover">
		

		<?php if(!$user['isLogged']){?>    
        <div class="buttons clearfix">
	        <div class="cover-cart-button to-checkout cover-cart-button-first"><a href="index.php?route=account/login" class="">войти в аккаунт</a></div>
	      </div>
	      <?php } ?>
	      <div class="row">
	       
	          <div class="table table-bordered continue-cart-ornot">
	           
	            <div>
	              <div class="text-right pull-left product-total">Итого:</div>
	              <div class="text-right pull-right"><?php echo $total; ?></div>
	            </div>
	         
	          </div>
	        </div>
	      <div class="buttons clearfix">
	        <div class="paypal_form"><?=$paypal?></div>
	        <div class="cover-cart-button continue"><a href="" class="">ПРОДОЛЖИТЬ ПОКУПКИ</a></div>
	      </div>
	    </div>	
</div>
</div>

</section>
        <script>
        $("[name=telephone]").mask("+7(999) 999-9999");
        </script>
      </div>
    </div>
</div>


<?php echo $footer; ?>
