<!-- <div class="list-group">
  <?php foreach ($categories as $category) { ?>
  <?php if ($category['category_id'] == $category_id) { ?>
  <a href="<?php echo $category['href']; ?>" class="list-group-item active"><?php echo $category['name']; ?></a>
  <?php if ($category['children']) { ?>
  <?php foreach ($category['children'] as $child) { ?>
  <?php if ($child['category_id'] == $child_id) { ?>
  <a href="<?php echo $child['href']; ?>" class="list-group-item active">&nbsp;&nbsp;&nbsp;- <?php echo $child['name']; ?></a>
  <?php } else { ?>
  <a href="<?php echo $child['href']; ?>" class="list-group-item">&nbsp;&nbsp;&nbsp;- <?php echo $child['name']; ?></a>
  <?php } ?>
  <?php } ?>
  <?php } ?>
  <?php } else { ?>
  <a href="<?php echo $category['href']; ?>" class="list-group-item"><?php echo $category['name']; ?></a>
  <?php } ?>
  <?php } ?>
</div>
 -->
<div class="filter">
  <ul class="sidebar-filter">
    <li class="list-unstyled sidebar-filter-item "><span>Бренд</span> <i class="filter-arrow"></i>
<!--       <form action="#" class="form-brend">
        <input type="text">
        <input type="submit">
      </form> -->
      <ul>
        <li class="list-unstyled">
          <input type="checkbox" id="b1" name="radio-brend">
          <label for="b1" class="b1">Tudor</label>
        </li>
        <li class="list-unstyled">
          <input type="checkbox" id="b2" name="radio-brend">
          <label for="b2" class="b2">Tudor</label>
        </li>        
        <li class="list-unstyled">
          <input type="checkbox" id="b2" name="radio-brend">
          <label for="b2" class="b2">Tudor</label>
        </li>        
        <li class="list-unstyled">
          <input type="checkbox" id="b2" name="radio-brend">
          <label for="b2" class="b2">Tudor</label>
        </li>        
        <li class="list-unstyled">
          <input type="checkbox" id="b2" name="radio-brend">
          <label for="b2" class="b2">Tudor</label>
        </li>
      </ul>
    </li>
    <li class="list-unstyled sidebar-filter-item"><span>Тип</span> <i class="filter-arrow"></i>
<!--       <form action="#" class="form-brend">
        <input type="text">
        <input type="submit">
      </form> -->
      <ul>
        <li class="list-unstyled">
          <input type="checkbox" id="b4" name="radio-brend">
          <label for="b4" class="b4">T1</label>
        </li>
        <li class="list-unstyled">
          <input type="checkbox" id="b5" name="radio-brend">
          <label for="b5" class="b5">T2</label>
        </li>
      </ul>
    </li>
    <li class="list-unstyled sidebar-filter-item"><span>Пол </span><i class="filter-arrow"></i>
    
    </li>    
    <li class="list-unstyled sidebar-filter-item"><span>Механизм </span><i class="filter-arrow"></i>
    
    </li>    
    <li class="list-unstyled sidebar-filter-item"><span>Материал ремешка</span><i class="filter-arrow"></i>
    
    </li>    
    <li class="list-unstyled sidebar-filter-item"><span>Цвет корпуса/ремешка </span><i class="filter-arrow"></i>
    
    </li>    
    <li class="list-unstyled sidebar-filter-item"><span>Cтрана/регион</span><i class="filter-arrow"></i>
    
    </li>    
    <li class="list-unstyled sidebar-filter-item"><span>Размер </span><i class="filter-arrow"></i>

    </li>    
    <li class="list-unstyled sidebar-filter-item"><span>Стиль</span><i class="filter-arrow"></i>

    </li>
  </ul>
</div>
