<<<<<<< HEAD
<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div class="container"><?php echo $content_top; ?>
	 <div class="panel-body">
		<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> <?php echo $wallet_ok_txt; ?>
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
      </div>
 
</div>
=======
 <?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div class="container"><?php echo $content_top; ?>
	 <div class="panel-body">
		<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> <?php echo $wallet_ok_txt; ?>
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
      </div>
 
</div>
>>>>>>> f864cb90c41e948020859e7a306dfcd3af0de747
<?php echo $footer; ?>