<<<<<<< HEAD
<div style="background: #f7f7f7; border: 1px solid #dddddd; padding: 10px; margin-bottom: 10px;">
<?php echo $text_instruction; ?><br /><br />

<a href="index.php?route=payment/yandex_transfer/printpay" class="button" style="text-decoration:none;" target="_blank"><span><?php echo $text_printpay; ?></span></a>

  <br /><br />
  <?php echo $text_payment; ?></div>

<div class="buttons">
  <div class="right"><a id="button-confirm" class="button"><span><?php echo $button_confirm; ?></span></a></div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
	$.ajax({
		type: 'GET',
		url: 'index.php?route=payment/yandex_transfer/confirm',
		success: function() {
			location = '<?php echo $continue; ?>';
		}
	});
});
//--></script>
=======
 <div style="background: #f7f7f7; border: 1px solid #dddddd; padding: 10px; margin-bottom: 10px;">
<?php echo $text_instruction; ?><br /><br />

<a href="index.php?route=payment/yandex_transfer/printpay" class="button" style="text-decoration:none;" target="_blank"><span><?php echo $text_printpay; ?></span></a>

  <br /><br />
  <?php echo $text_payment; ?></div>

<div class="buttons">
  <div class="right"><a id="button-confirm" class="button"><span><?php echo $button_confirm; ?></span></a></div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
	$.ajax({
		type: 'GET',
		url: 'index.php?route=payment/yandex_transfer/confirm',
		success: function() {
			location = '<?php echo $continue; ?>';
		}
	});
});
//--></script>
>>>>>>> f864cb90c41e948020859e7a306dfcd3af0de747
