<style>
.paypal{    
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #888888;
    width: 200px;
    height: 41px;
    display: inline-block;
    color: #898989;
    background-color: white;}
.paypal:hover{
    border: 2px solid #888888;
    background-color: #898989;
    color: #fff;
}
[name=paymentType] {
    display: none;
}

.none {
    display:none;
}
</style>

<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml"> 
    <input type="hidden" name="receiver" value="410014860097739" /> 
    <input type="hidden" name="formcomment" value="twelves <?php echo $products_names;?>" /> 
    <input type="hidden" name="short-dest" value="twelves <?php echo $products_names;?>" />
    <input type="hidden" name="label" value="<?php echo $order_id;?>" />
    <input type="hidden" name="quickpay-form" value="small" />
    <input type="hidden" name="targets" value="twelves <?php echo $products_names;?>" />
    <input type="hidden" name="sum" value="<?php echo $amount;?>" data-type="number" />
    <input type="hidden" name="comment" value="" />
    <input type="hidden" name="need-fio" value="false" />
    <input type="hidden" name="need-email" value="false" />
    <input type="hidden" name="need-phone" value="false" />
    <input type="hidden" name="need-address" value="false" />
    <input type="hidden" name="paymentType" value="PC" />
    <input class="native-input native-input_type_hidden" name="successURL" value="<?php echo $confirm_url;?>" type="hidden" />
    <input class="widget-small__button paypal" type="submit" value="ОФОРМИТЬ ЗАКАЗ" />
</form>