/* font-family: "Geometria-Medium"; */
@font-face {
    font-family: "Geometria-Medium";
    src: url("../fonts/Geometria-Medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Geometria-Bold"; */
@font-face {
    font-family: "Geometria-Bold";
    src: url("../fonts/Geometria-Medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Geometria"; */
@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Century_Gothic"; */
@font-face {
    font-family: "Century_Gothic";
    src: url("../fonts/Century_Gothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "helveticaneuecyr-ultralight"; */
@font-face {
    font-family: "helveticaneuecyr-ultralight";
    src: url("../fonts/helveticaneuecyr-ultralight.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ABugsLifeDebugged"; */
@font-face {
    font-family: "ABugsLifeDebugged";
    src: url("../fonts/ABugsLifeDebugged.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GOTHIC"; */
@font-face {
    font-family: "GOTHIC";
    src: url("../fonts/GOTHIC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Geometria-Light"; */
@font-face {
    font-family: "Geometria-Light";
    src: url("../fonts/Geometria-Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
p {
	font-family: "Geometria";
	font-size: 11px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
    background-color: #fdfdfd;
    padding: 0;
    margin: 0px 0 25px 0;
    height: 52px;
    border: 1px solid #fbfaf6;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    z-index: 1000;
	position: fixed;
	width: 100%;
	top: 0;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}

#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}

/* logo */
#logo {
	margin-left: -121px;
    position: absolute;
   	top: -3px;
    left: 50%;
    z-index: 9999 ;
}
/* search */
#search {
	position: fixed;
	margin-bottom: 10px;
	text-align: center;
	background: #000;
    padding-bottom: 40px;
    width: 100%;
    z-index: 1100;
    display: none;
}

#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
	position: inherit;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
/* content */

/* footer */
footer {
	margin-top: 2px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
    border-bottom: 1px solid #626262;
    width: 100%;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	overflow: auto;
}
.row-product-margin-top {
	margin-top: 33px;
}
.my-btn-style-custom {
	padding: 0px !important;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
/*	min-height: 180px;*/
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #949494;
	text-align: center;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 11px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
    text-align: center;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
.variable-width {
	margin-top: 0px;
	margin-bottom: 50px;
}
.blog-container {
	margin-top: 170px;
}
.slick-prev {
	left: 0px;
}
.slick-next {
	right: 0px;
}
.slick-prev, .slick-next {
	font-size: 20px;
    line-height: 100px;
    position: absolute;
    z-index: 1;
    top: 60%;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}
.slick-prev::after, .slick-prev::before, .slick-next::after, .slick-next::before {
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -16px;
    width: 30px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.slick-next::after {
	margin-top: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slick-next::before {
	-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slick-prev::before {
	-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slick-prev::after {
	margin-top: 8px;
   -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slick-prev:hover:before {
	-webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.slick-prev:hover:after {
   -webkit-transform: rotate(225deg);
   -ms-transform: rotate(225deg);
   transform: rotate(225deg);
}
.slick-next:hover:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.slick-next:hover:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.slick-slide img {
	height: 50vh;
}

@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button, .btn-group button  {
	display: inline-block;
	background-color: transparent;
	color: #888;
	text-align: center;
	text-transform: uppercase;
}
.decrease, .increase {
	float: left;
}
/*.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}*/
.product-thumb .button-group button:hover {
	color: #fff;
	background-color: #a0a0a0;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	    display: inline-block;
    width: 100%;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a { 
	padding: 5px;
	display: block;
	border: none;
	text-align: center;
	border: 1px solid transparent;
}
.image-additional {
	max-width: 115px;
}
.thumbnails .image-additional {
	margin-left: 0px;
	    display: inline-block;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
/*@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}*/

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.header-font {
	color: #434343;
	font-size: 18px;
	font-family: 'Geometria-Medium';
}

.phone-div {
	padding: 13px 0;
	margin-left: -12px;
}
#top .pull-right {
   margin-right: -30px;
}
.icon {
	display: inline-block;
	background: url('../image/224638.jpg');
	z-index: 10;
}
.icon-account {
	width: 16px; 
	height: 18px;
	background-position: 0 -141px;
}
.icon-star {
	width: 16px; 
	height: 18px;
	background-position: 0 -107px;
}
.icon-cart {
	height: 18px;
    width: 20px;
	background-position: 0 1px;
}
.notempty {
	background-position: 0 -35px;
}
.icon-searsh {
	width: 19px;
	height: 19px;
	background-position: 0 -71px;
	margin-left: 5px;
}
a .caret {
	display: none;
}
span.header-icon-span {
	color: #000000;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    font-style: normal;
    line-height: 1.5;
}
#cart-total {
    margin-top: 6px;
    display: inline-block;
}
a.header-links, button.header-links{
	position: relative;
	width: 50px;
	display: inline-block;
	border-right: 1px solid #ccc;
	text-align: center;
	height: 20px;
}
button.header-links{
	border: none;
	background-color: transparent;
    padding-left: 4px;
}
.list-inline li {
	padding: 0;
}
.owl-controls {
	background-color: #a0a0a0;
    width: 100%;
    position: absolute;
	bottom: -8px;
    height: 9px;
}
.owl-controls .owl-page span {
    display: block;
    width: 252px;
    height: 9px;
    background: #a0a0a0;
   	border-radius: none;
    box-shadow: none;
}
.owl-controls .owl-page.active span {
    background: #e0caa1;
}
.brend {
	font-family: "Geometria-Bold";
	font-weight: 700;
	text-transform: uppercase;
	color: #5c5c5c;
	display: inline-block;

	font-size: 18px;
	margin-bottom: 0;
	margin-top: 14px;
	line-height: normal;
}

h4 a, .nx-product h1 {
	font-family: "Geometria";
	text-transform: uppercase;
	color: #5c5c5c;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}
h4 {
	margin: 5px 0 10px;
}
.pr-icon {
	display: inline-block;
	background: url(../image/product-sprite.png);
}
.icon-pr-star {
	width: 47px;
	height: 45px;
	background-position: 0 0;
}
.icon-pr-star:hover {
	width: 47px;
	height: 45px;
	background-position: -47px 0;
}
.icon-pr-share {
		width: 44px;
	height: 44px;
	background-position: -47px -45px;
}
.icon-pr-share {
	width: 44px;
	height: 44px;
	background-position: 0 -46px;
}
.icon-pr-share:hover {
		width: 44px;
	height: 44px;
	background-position: -50px -46px;
}
.carousel .owl-controls {
	background: transparent;
}
.cover-carousel {
	position: relative;
}
.arrow {
    position: absolute;
    top: 25%;
    margin-top: 0px;
    background-image: url(../image/arrow-sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 73px;
    cursor: pointer;
    z-index: 10;
}
.arrow-left {
	left: 0;
	background-position: 0 0;
}
.arrow-right {
	right: 0;
	background-position: 0 -74px;
	
}
.arrow-left:hover {
	background-position: -32px 0;
	
}
.arrow-right:hover {
	background-position: -32px -74px;
}
h3 {
	font-family: "Geometria-Bold";
    font-weight: 700;
    text-transform: uppercase;
    color: #5c5c5c;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 14px;
}

.cat-block  {
	position: relative;
	text-align: center;
	margin: auto;
	background-color: #666667;
	overflow: hidden; /* clearfix */
	padding: 3% 0;
}

.cat-block :before {
	content: "";
	float: left;
}
.cat-block img {
	max-height: 305px;
	transition: .5s transform;
}
.cat-block span:not(.line) {
	color: #d0d0d0;
    font-family: "Geometria";
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 4px;
    padding: 20px 10px;
}
.line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30%;
	height: 5px;
	background-color: #e0caa1;
	transition: .5s width;
}
.cat-block:hover  img {
	transform: scale(1.1);
} 
.cat-block:hover .line{

	width: 100%;
}
.cover-news {
	padding-left: 0;
}

.cover-news img {
	max-width: 100%;
}
.cover-news-img {
	margin-top: 15px;
	position: relative;
}
.align-right {
	text-align: right;
}
.news-span {
	text-transform: uppercase;
	color: #f3f3f3;
	font-family: "Geometria";
	position: absolute;
	right: 5%;
	top: 10%;
	font-size: 22px;
}
.color-gray {
	color: #626262;
	top: 20%;
}
.news-span-right {
	line-height: 2;
    top: 1%;
    right: 0;
}
.news-short-content {
	position: absolute;
    right: 17%;
    width: 250px;
    bottom: 10%;
    color: #fff;
    font-size: 13px;
    line-height: 2;
    font-family: "Geometria";
    background-color: rgba(117, 23, 67, 0.4);
    text-align: center;
    padding: 20px;
}
.news-span-left {
    line-height: 1.6;
    top: 8%;
    left: 2%;
    text-align: left;
}
.news-block {
	margin: 0 auto;
    margin-top: 50px;
    position: relative;
    margin-bottom: 60px;
}
.news-block .row{
    max-height: 973px;
    overflow: hidden;
}
.all-article {
    position: absolute;
    left: 50%;
	bottom: -80px;
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    padding-top: 13px;
    width: 211px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-left: -105.5px;
    font-size: 16px;
    border-radius: 0;
    transition: .5s all;
}
.all-article:hover {
    color: #fff;
    border: 1px solid #888888;
    background-color: #888888;
}
.news-new {
    background-color: #000;
    margin-top: 50px;
    margin-bottom: 57px;
    padding: 30px 0 15px;
    display: inline-block;
    width: 100%;
    
}
.news-new-product {
    background: url(../image/stripes.jpg) no-repeat;
    background-size: contain;
}

.news-new-text {
	position: relative;
}
.news-new-text .header{
    position: absolute;
    top: 5px;
    left: 15px;
    color: #e0caa1;
    font-family: "helveticaneuecyr-ultralight";
    font-size: 36px;
    text-transform: uppercase;
}
.header-news {
	font-family: "ABugsLifeDebugged";
    color: #b8b8b8;
    font-size: 28px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-top: 80px;
    padding-left: 100px;
    line-height: normal;
}
.header-news span {
	font-family: "GOTHIC";
    margin-top: 15px;
    display: inline-block;
}
.news-new-text .more {
    font-family: "Geometria-Light";
    color: #e0caa1;
    border: 1px solid #e0caa1;
    background-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    width: 245px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    margin: 80px 0 0 154px;
    transition: .5s all;
    position: relative;
}
.news-new-text .more:hover {
	color: #fff;
	border: 1px solid #d6b3611;
	background-color: #d6b361;
}
.news-image {
	margin-left: 150px;
	width: 45%; 
}
.instra {
    padding-top: 100px;
    display: inline-block;
    width: 100%;
    background: url(../image/instagram.png) no-repeat;
    background-position: center 3%;
    overflow: hidden;
    background-size: 10%;
    padding-right: 15px;
    padding-left: 15px;
}
div.instra {
    padding-top: 98px;
    background-size: 50%;
}
.instra a {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    border: 1px solid #fff;
}
.instra a img {
	width: 100%;
}
/*.my-row {
	width: 2000px;
}*/
.mass-class {
	width: 16.6666667%;
}
div.instra .mass-class {
	width: 46%;
	margin: 0 2%;
}
.about-brands {
	margin-top: 70px;
	margin-bottom: 28px;
}
.about-brands header {
    color: #8b8b8b;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-family: "Geometria-Medium";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    line-height: normal;
}
.about-brands p {
	color: #6c6c6c;
    display: inline-block;
    width: 100%;
    font-family: "Geometria";
}

.footer-number {
	color: #fff;
	font-family: "Geometria-Light";
	font-size: 18px;
	margin-top: 35px;
	text-align: right;
}
.icon-footer {
	display: inline-block;
	width: 39px;
	height: 40px;
	background: url('../image/footer-sprite.png') no-repeat;
	margin: 0 17px;
}
.icon-facebook {
	background-position: 0 0;
}
.icon-facebook:hover {
	background-position: 0 -40px;
}
.icon-vk {
	background-position: -39px 0;
}
.icon-vk:hover {
	background-position: -39px -40px;
}
.icon-odn {
	background-position: -78px 0;
}
.icon-odn:hover {
	background-position: -78px -40px;
}
.icon-google {
	background-position: -117px 0;
}
.icon-google:hover {
	background-position: -117px -40px;
}
.icon-yandex {
	background-position: -156px 0;
}
.icon-yandex:hover {
	background-position: -156px -40px;
}
.sent label {
	color: #fefefe;
	font-size: 18px;
	font-family: "Geometria-Light";
	display: inline-block;
    width: 100%;

}
.sent input[type="email"] {
	background-color: transparent;
	border: 1px solid #fffefe;
	color: #fffefe;
	width: 231px;
	height: 35px;
	padding-left: 11px;
    font-size: 15px;
    font-family: "Geometria-Light";
    line-height: normal;
} 
.my-btn {
	text-transform: uppercase;
	width: 110px;
	color: #696969;
	background-color: #f1f1f1;
	height: 36px;
	border: none;
	font-size: 14px;
    line-height: normal;
}
.sent input[type="email"]::-webkit-input-placeholder {color: #fffefe;}
.sent input[type="email"]::-moz-placeholder          {color: #fffefe;}/* Firefox 19+ */
.sent input[type="email"]:-moz-placeholder           {color: #fffefe;}/* Firefox 18- */
.sent input[type="email"]:-ms-input-placeholder      {color: #fffefe;}

footer {
	padding: 25px 0;
	color: #fffefe;
}

.footer-adress p {
	line-height: 2;
	text-align: right;
}
.icon-pay {
	display: inline-block;
	height: 33px;
	width: 61px;
	margin: 0 5px;
}
.ligpay {
	background: url('../image/ligpay.png') no-repeat top left;
	width: 95px;

}
.visa {
	background: url('../image/visa.png') no-repeat top left;
}
.maestro {
	background: url('../image/maestro.png') no-repeat top left;
}
.mastercard {
	background: url('../image/mastercard.png') no-repeat top left;
}
.footer-menu li a{
	color: #fff;
	font-size: 12px;
	line-height: 2;
	font-family: "Geometria-Light";
}
.footer-menu {
	display: block;
	float: left;
}
.fm-right {
	margin-left: 100px;
}
.footer-paysystem {
text-align: center;
margin-top: 93px;
   margin-left: 5px;
}
.footer-social {
	text-align: center;
	margin-top: 20px;
}
.fa-phone-menu-mobile {
	display: none;
}
.header-menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -450px;
}
.header-menu li {
	display: inline-block;
}
.header-menu li a {
	display: inline-block;
	color: #656565;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Geometria";
	margin: 0 40px;
}
.header-menu li:nth-child(3) {
	margin-left: 305px;
}
.main-slider {
	position: relative;
	margin-top: 53px;
}
.main-more {
	color: #656565;
    border: 1px solid #656565;
    width: 260px;
    height: 52px;
    position: absolute;
    bottom: 150px;
    left: 173px;
    text-transform: uppercase;
    padding-top: 15px;
    z-index: 20;
    text-align: center;
    font-size: 18px;
}
.main-header-slider {
	position: absolute;
	top: 44%;
	left: 173px;
	color: #656565;
	font-size: 28px;
	font-family: "Geometria-Bold";
	z-index: 20;
	width: 100px;
	text-transform: uppercase;
    line-height: normal;
    width: 100px;
	display: none;
}
.main-header-slider span{
	font-family: "Geometria";
    margin-top: 20px;
    display: inline-block;
}
.main-more:hover {
	color: #fff;
	background-color: #656565;
}


/*product cart*/

.nx-product {
	margin-top: 150px;
}
.nx-product .brend, .nx-product h1 {
	text-align: left;
	margin-top: 5px;
}
.old-price {
	text-decoration: line-through;
	color: #949494;
	font-size: 13px;
}
.new-price-custom-style {
	margin-top: 0px;
}
.stock {
	color: #949494;
	font-size: 12px;
	margin-top: 10px;
}
.price-block {
	margin-top: 5px; 
}
.nx-product h2 {
	color: #5a5959;
	font-size: 18px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group-custom-style {
	display: inline;
}
.addto-cart {
    color: #fff;
    background-color: #a0a0a0;
    width: 110px;
    height: 32px;
    border: 1px solid #a0a0a0;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0;
    font-family: "Geometria";
	display: inline-block;
    text-align: center;
}
.modal-add-to-cart {
	float: left;
}
.addto-cart:hover {
	color: #a0a0a0;
	background-color: transparent;
}
a.addto-cart {
	padding-top: 5px;
	cursor: pointer;
}
.one-click {
	color: #a0a0a0;
	background-color: transparent;
	margin-right: 35px;
}
.one-click:hover {
	color: #fff;
	background-color: #a0a0a0;
}
/*.form-group label, .form-group .form-control {
	display: none;
}*/
.nx-product .rating {
	display: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #5c5c5c;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #f5e1b4;
    font-family: "Geometria-Bold";
}
.nav-tabs>li {
    margin-bottom: -3px;
}
.nav-tabs {
    border-bottom: 1px solid #e8e8e8;
}
.nav-tabs>li>a:hover {
    border: none;
    border-bottom: 3px solid #f5e1b4;
    font-family: "Geometria-Bold";
    background-color: transparent;
    color: #5c5c5c;
}
.nav-tabs>li>a {
	margin-right: 0;
    border: none;
    border-bottom: 3px solid transparent;
    color: #a1a1a1;
}
.main-photo {
	float: right;
	padding: 0px 0 30px;
}
.row .thumbnails .main-photo-custom-class-support {
	margin-left: 0px;
	width: 392px;
}
.main-photo-custom-class-support {
	margin-left: 0px;
	width: 360px;
}
.main-photo-custom-class-support img {
	width: 100%;
}
.thumbnail {
	border: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
	border: none;
	box-shadow: 0 0 4px  rgba(0, 0, 0, .23);
}
.main-photo a.thumbnail.active, .main-photo a.thumbnail:focus, .main-photo a.thumbnail:hover {
	border: none;
	box-shadow: none;
}
.carousel .brend { 
	text-align: center;
}
.product-footer {
	max-width: 1444px;
	margin: 0 auto;
}
section.product-footer {
	margin: 100px auto;
}

.product-footer .nav-tabs>li>a {
    border: none;
    font-family: "Geometria-Medium";
    background-color: transparent;
    color: #b3b3b3;
	text-transform: uppercase;
	font-size: 18px;
}
.product-footer .nav-tabs li.active a{
	color: #5c5c5c;
	font-family: 'Geometria-Medium';
	border-bottom: 3px solid #f5e1b4;
}
.product-footer .nav-tabs li a:hover{
	color: #5c5c5c;
	font-family: 'Geometria-Medium';
	border-bottom: 3px solid #f5e1b4;
}
.product-footer .nav-tabs {
    margin: 50px 0 100px;
}
.product-footer .brend {
	font-size: 16px;
	width: 100%;
}
.product-footer h4 a {
	font-size: 14px;
}

.category-contant .brend {
	font-size: 12px;
	    width: 100%;
    text-align: center;
}

.category-contant h4 a {
	font-size: 14px;
}
.main-photo {
	position: relative;
}
.discount {
	position: absolute;
	top: 4px;
	left: 0;
	color: #bc2b2b;
	font-family: 'Geometria';
	text-transform: uppercase;
	font-size: 14px;
	width: 120px;
	line-height: 18px;
}
.btn-group-custom-style {
	margin-top: 5px;
}
.discount span {
	font-size: 28px;
}
.pr2-icon {
	display: inline-block;
	background: url(../image/product-sprite2.png);
	position: absolute;
	right: -150px;
}
.icon-pr2-star {
	width: 39px;
	height: 39px;
	background-position: 0 0;
	top: 200px;
}
.icon-pr2-star-custom-style {
	position: static;
	margin: 0px 10px;
	-moz-transform: scale(0.85); /* Для Firefox */
	-ms-transform: scale(0.85); /* Для IE */
	-webkit-transform: scale(0.85); /* Для Safari, Chrome, iOS */
	-o-transform: scale(0.85); /* Для Opera */
	transform: scale(0.85);
}
.btn-group-custom-style button:focus {
	outline: none;
}
.button-modal-styles button:focus {
	outline: none;
}
.icon-pr2-share-custom-style {
	position: static;
	-moz-transform: scale(0.85); /* Для Firefox */
	-ms-transform: scale(0.85); /* Для IE */
	-webkit-transform: scale(0.85); /* Для Safari, Chrome, iOS */
	-o-transform: scale(0.85); /* Для Opera */
	transform: scale(0.85);
}
div .share-button .icon-pr2-share:hover {
    width: 39px;
    height: 39px;
    background-position: -39px -38px;
}
div .star-button .icon-pr2-star:hover {
    width: 39px;
    height: 38px;
    background-position: -39px 0;
}
div .star-button .icon-pr2-star-active {
	width: 39px;
    height: 38px;
    background-position: -39px 0;
}

.icon-pr2-share {
    width: 39px;
    height: 39px;
    background-position: 0 -38px;
    top: 250px;
}
.star-button, .star-button:hover, .share-button, .share-button:hover {
	display: inline-block;
	padding: 0;
	border: none;
}
.my-sidebar {
	position: relative;
	padding-left: 75px;
}
.my-sidebar .btn-group {
	position: initial;
}

.back {
	position: fixed;
    left: 0;
    top: 53px;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .9);
    z-index: 100;
    display: none;
}
.exit {
	position: absolute;
	display: inline-block;
	width: 38px;
	height: 37px;
	top: 30px;
	right: 50px;
	background: url('../image/exit.png') no-repeat top left;
	cursor: pointer;
}
.social-block {
	position: fixed;
	top: 40%;
	left: 25%;
	width: 50%;
	display: none;
	text-align: center;
	z-index: 200;
}
.icon-share-back {
	display: inline-block;
	width: 85px;
	height: 86px;
	background: url('../image/icon-back-sprite.png') no-repeat;
	margin: 0 40px;
}
.facebook {
	background-position: 0 0;
}
.vk {
	background-position: -85px 0;
}
.odn {
	background-position: -170px 0;
}
.google {
	background-position: -255px 0;
}
.yandex {
	background-position: -340px 0;
}
.facebook:hover {
	background-position: 0 -87px;
}
.vk:hover {
	background-position: -85px -87px;
}
.odn:hover {
	background-position: -170px -87px;
}
.google:hover {
	background-position: -255px -87px;
}
.yandex:hover {
	background-position: -340px -87px;
}
.product-added span {
    color: #313131;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 97px 10px 34px;
    margin-left: 91px;
    margin-bottom: 30px;
    display: block;
}
.product-added span::before {
	content: "";
    display: inline-block;
    background: url(../image/point-back.png) no-repeat center center;
    height: 25px;
    width: 25px;
}
.exit2 {
	position: absolute;
	display: inline-block;
	width: 17px;
	height: 17px;
	top: 13px;
	right: 13px;
	background: url('../image/exit2.png') no-repeat top left;
	cursor: pointer;
}
.product-added {
	position: fixed;
	top: 15%;
    left: 32%;
    width: 36%;
	background-color: #fff;
	text-align: center;
	padding: 20px 0 40px;
	display: none;
	z-index: 200;
}
.product-added .list-unstyled {
    display: inline-block;	
}
.product-added img {
    display: inline-block;
    width: 25%;
}
.product-added h1 {
	font-size: 22px;
}
.size-up {
	display: inline-block;
	width: 54px;
	height: 54px;
	position: absolute;
    right: 10px;
    bottom: 55px;
	background: url('../image/tools-sprite.png') no-repeat; 
	background-position: 0 0;
	cursor: pointer;
}
.size-up:hover {
	background-position: -46px -46px;
}
.print {
	display: inline-block;
	position: absolute;
    bottom: 0px;
	color: #6e6e6e;
	width: 100%;
	cursor: pointer;
}
.print span {
	display: inline-block;
    position: absolute;
    left: 45px;
    top: 7px;
    font-size: 12px;
}
.print-icon {
	background: url('../image/tools-sprite.png') no-repeat; 
	width: 38px;
	height: 38px;
	display: inline-block;
	background-position: 0px -62px;

}
.print:hover span {
	    color: #b3b3b3;
}
.print:hover .print-icon {
	    background-position: -62px 0px;
}
.tab-content>.active {
    display: block;
    position: relative;
}
input[type="radio"] + label {
	cursor: pointer;
	font-size: 13px;
	text-transform: capitalize;
	position: relative;
	display: inline-block;
	margin: 0 15px;
}
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    position: absolute;
    bottom: -4px;
    left: 0px;
    background-color: #e3e3e3;
}

input[type="radio"]:checked + label::before {
    height: 19px;
    width: 19px;
    border: 2px solid #bc2b2b;
}

input[type="radio"] + label.chernyy::before {
	background-color: #000;
}
input[type="radio"] + label.sapfirovoe_napylenie::before {
	background-color: #000;
}
input[type="radio"] + label.red::before { 
	background-color: red;
}
input[type="radio"] + label.yellow::before { 
	background-color: #d0d0d0;
}
input[type="radio"] + label.siniy::before { 
	background-color: blue;
}
input[type="radio"] + label.white::before { 
	background-color: #e4e4e4;
}
input[type="radio"] + label.temno-korichnevyy::before { 
	background-color: #57433c;
}
input[type="radio"] + label.svetlo-korichnevyy::before { 
	background-color: #af6343;
}
input[type="radio"] + label.seryy::before { 
	background-color: gray;
}
input[type="radio"] + label.korichnevyy::before { 
	background-color: #572d19;
}
input[type="radio"] + label.beghevyy::before { 
	background-color: beige;
}
input[type="radio"] + label.light-blue::before { 
	background-color: #33444f;
}
input[type="radio"] + label.dark-blue::before { 
	background-color: #202737;
}
input[type="radio"] + label.svetlyy::before { 
	background-color: #c0b8ad;
}
input[type="radio"] + label.stalynoy::before { 
	background-color: #b7b8bc;
}
.color {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}
.color-title {
	float: left;
	color: #4a4a4a;
	text-transform: uppercase;
	font-family: 'Geometria';
	font-size: 12px;
}

.product-footer .color-item	{
	margin-left: 30%;
}
.product-footer .color {
    margin-top: 0;
}
.verical-slider {
	position: relative;
    overflow: hidden;
    display: block;
    padding: 40px 0 10px;
    width: 100px;
}
.vertical-tools {
	position: absolute;
	left: 22%;
	background: url('../image/vertical-sprite.png') no-repeat; 
	width: 44px;
	height: 19px;
	cursor: pointer;
}
.up {
	top: 0;
	background-position: 0 0 ;
}
.down {
	bottom: 0;
	background-position: 0 -19px;
}
.up:hover {
	background-position: -44px 0 ;
}
.down:hover {
	background-position: -44px -19px;
}
#tab-specification {

}

/*product cart*/



/*CATEGORY*/
.category-contant {
	max-width: 1670px;
	margin: 0 auto;
	margin-top: 100px;

}
.category-contant .product-layout {
	margin-bottom: 60px;
    padding: 50px 0 30px;
}
.sidebar-filter > .sidebar-filter-item {
	color: #3c3c3c;
	font-family: 'Geometria-Medium';
	font-size: 14px;
	position: relative;
	padding: 15px 0;
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8; 
}
.sidebar-filter > .sidebar-filter-item:hover {
	color: #656565;
}
.sidebar-filter > .sidebar-filter-item > ul,  .sidebar-filter > .sidebar-filter-item > form {
	display: none;
}
.sidebar-filter > .sidebar-filter-item:first-child {
	margin-top: 0px;
}
.filter-arrow {
	background: url('../image/filter-arrow-sprite.png') no-repeat;
	display: inline-block;
	width: 26px;
	height: 12px;
	position: absolute;
	right: 0;
	top: 20px;
	background-position: 0 0;
}
.sidebar-filter li.active .filter-arrow {
	background-position: 0 -12px;
}
.sidebar-filter-item ul {
	margin-top: 20px;
	max-height: 100px;
	overflow: hidden;
	padding-left: 10px
}
.sidebar-filter-item ul .list-unstyled{
	padding-left: 30px
}
.filter input[type="checkbox"]  {
	display: none;
}
.filter input[type="checkbox"] + label {
	cursor: pointer;
	font-size: 13px;
	text-transform: capitalize;
	position: relative;
	display: inline-block;
	margin: 5px 4px;
}
.sidebar-filter-item span {
	display: inline-block;
	width: 100%;	
}
.filter input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 17px;
    width: 17px;
    position: absolute;
    bottom: 1px;
    left: -30px;
    background: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 100%;
}
.form-brend {
	display: inline-block;
	width: 90%;
	margin: 20px 0 0 4%;
}
.filter input[type="checkbox"]:checked + label::before {
    height: 17px;
    width: 17px;
    background: url('../image/radio-checked.png') no-repeat;
    background-position-x: 3.49999988px;
    background-position-y: 3.4px;
}
.filter input[type="submit"] {
	display: none;
}
.filter input[type="text"] {
	display: inline-block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #d0d0d0;
	background: url('../image/filter-search.png') no-repeat 1% center;
}
.filter input[type="text"]:focus {
outline: none;
}
.category-contant .product-layout {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: 0.5s linear border;
	position: relative;
}
.category-contant .product-layout:hover {
	border-top: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
}
.sort-title {
	color: #323232;
}
.category-contant .color-item {
    display: inline-block;
    margin-left: -20px;
}
.category-contant  .btn-group {
	display: none;
}
.selected-item {
	position: relative;
}
.selected-item i {
	position: absolute;
	top: 4px;
	right: -15px;
	background: url('../image/sort-arrow.png');
	display: inline-block;
	width: 9px;
	height: 9px;
	background-position: 0 -9px; 
	cursor: pointer;
}
.active i {
	background-position: 0 0;
}
.selected-item, .filter-sort li {
	color: #888888;
	cursor: pointer;
}
.false-select {
	position: absolute;
	top: 20px;
	left: 0;
	padding-left: 0;
	display: inline-block;
	width: 200px;
	display: none;
}
.false-select li:hover {
	color: #323232;
}
.filter-sort, .false-select {
	color: #323232;
	z-index: 100;
	margin-bottom: 30px;
}
.false-select li {
	cursor: pointer;
}
.preview {
    background: #fff;
    width: 1010px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -505px;
    min-height: 200px;
    padding: 50px 30px 30px;
    z-index: 200;
    display: none;
}
.caption .brend {
	text-align: center;
	width: 100%;
}
.preview .brend, .back h1{
	text-align: left;
	font-family: "Geometria";
	font-weight: normal;
	font-size: 28px;
}
.preview h1{
	text-align: left;
	font-family: "Geometria";
	font-weight: normal;
	font-size: 22px;
}
.preview .image-additional {
	margin: 10px 0;
}
.preview .verical-slider {
   	padding: 0;
	width: 100px;
} 
.preview  .icon-pr2-share {
	width: 39px;
	height: 39px;
	background-position: 0 -38px;
	position: static;
	-moz-transform: scale(0.85); /* Для Firefox */
	-ms-transform: scale(0.85); /* Для IE */
	-webkit-transform: scale(0.85); /* Для Safari, Chrome, iOS */
	-o-transform: scale(0.85); /* Для Opera */
	transform: scale(0.85);
}
.preview .icon-pr2-star {
	width: 39px;
	height: 39px;
	background-position: 0 0;
	position: static;
	margin: 0px 20px;
	-moz-transform: scale(0.85); /* Для Firefox */
	-ms-transform: scale(0.85); /* Для IE */
	-webkit-transform: scale(0.85); /* Для Safari, Chrome, iOS */
	-o-transform: scale(0.85); /* Для Opera */
	transform: scale(0.85);
}
.preview .vertical-tools {
	left: 28%;
}
.button-modal-styles {
    z-index: 1;
    display: inline;
}
.preview .more {
    font-family: Arial;
    font-size: 16px;
    color: #b7b7b7;
    border: none;
    text-transform: capitalize;
    z-index: 1;
    float: right;
}
.preview .more:hover {
	text-decoration: underline;
	border: none;
    background-color: transparent;
    color: #b7b7b7;
}
.back-light {
	background-color: rgba(0, 0, 0, .4);
}
.exit3 {
	cursor: pointer;
	position: absolute;
	display: inline-block;
	width: 31px;
	height: 31px;
	top: 0;
	right: -40px;
	background: url('../image/exit3.png') no-repeat;
}
.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #dcdcdc;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
	background-color: #b8b8b8;
}
.bx-viewport {
	height: 288px !important;
}
.arrow-up {
    width: 40px;
    height: 40px;
    -ms-filter: alpha(opacity=80);
    filter: alpha(opacity=80);
    opacity: .8;
    position: fixed;
    bottom: 131px;
    right: 15px;
    display: none;
    text-align: center;
    color: #fafafa;
    font-size: 28px;
    background: #9e9e9e;
    z-index: 10;
    border-radius: 2px;
}
.arrow-up .fa {
    font-size: 28px;
    line-height: 36px;
}
/*CATEGORY*/

/*CART*/
.header-cart {
	margin-bottom: 40px;
	font-size: 20px;
	color: #5c5c5c;
	font-family: Arial;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.cart-window {
	border: none;
	border-radius: 0px;
	padding: 35px 110px 40px;
	width: 60%;
	left: 20%;
	max-height: 808px;
    overflow-y: auto;
    overflow-x: hidden;
}
.table .tr {
	display: inline-block;
	width: 100%;
	padding: 30px 0 30px;
	border-bottom: 1px solid #d0d0d0;
	margin-left: 0;
	margin-right: 0;
}
.table .tr .td {
	display: inline-block;
	float: left;
}
.table-striped .tr .td {
	min-height: 186px;
	padding-left: 0;
}
.img-thumbnail {
    border: none;
    border-radius: 0px;
    max-width: inherit;
}
.fa-exit {
	display: inline-block;
	width: 17px;
	height: 17px;
	top: 13px;
	right: 13px;
	background: url('../image/exit2.png') no-repeat top left;
	cursor: pointer;
}
.product-info {
	position: relative;
	overflow: hidden; 
}
.product-info .brend{
	text-align: left;
	font-size: 16px;
	font-family: Arial;
	color: #5c5c5c;
	margin-top: 0;
}
.product-name {
	margin: 10px 0;
	font-size: 14px;
	font-family: Arial;
	    text-transform: uppercase;
}
span.quantity {
	position: absolute;
	bottom: 10px;
	left: 0;

}
.product-option {
	padding-top: 50px;
}
.cart-button {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid #626262;
	color: #626262;
	margin: 0;
	background: transparent;
}
.table .tr .product-price-block {
	float: right;
	position: relative;
}
.product-price {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: Arial;
	font-size: 18px;
	color: #949494;
}
.cart-button-exit {
	position: absolute;
	top: 15px;
	right: 15px;
	border: none;
	background: transparent;
}

.table-bordered .tr:first-child {
	display: inline-block;
}
.table-bordered .product-total, .table-bordered .pull-right {
	text-transform: uppercase;
	font-size: 12px;
	font-family: Arial;
	color: #5c5c5c;
	padding-left: 47px;
}
.table-bordered {
	border: none;
}
.table-bordered .tr{
	border: none;
}
.to-checkout {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.to-checkout a, .contact-button{
    text-transform: uppercase;
    font-size: 14px;
    padding: 9px 0 0;
    border: 2px solid #888888;
    width: 200px;
    height: 41px;
    display: inline-block;
    color: #898989;
}
.continue {
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.continue a{
	color: #898989;
}
#cart .dropdown-menu li p.continue {
	margin: 0; 
}
.table-striped .product-price {
	color: #959595;
	font-size: 12px;
	font-family: 'Geometria';
}
.nx-cart-cover .product-info {
	max-width: inherit;
}
.nx-cart-cover .product-name {
	color: #5c5c5c;
}
.table-striped .color {
    position: absolute;
    bottom: 6px;
    left: 12px;
}
.table-striped .common-cart-color {
	position: relative;
}
.table-striped .color-item {
    margin-left: -12px;
}
.nx-cart-cover .icon-pr2-star {
    top: 0;
}
.nx-cart-cover .pr2-icon {
    right: 0;
}
.cart-star-button {
    position: absolute;
    top: 6px;
    right: 75px;
}
.nx-cart-cover .product-footer .color-item {
    margin-left: 25%;
}
.nx-cart-cover .nav-tabs>li>a {
	font-size: 18px;
}
.nx-cart-cover .nav-tabs {
    margin: 20px 0;
}
.cover-cart-button {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.continue-cart-ornot {
	margin-top: 25px;
}
.nx-cart-cover .nav>li>a {
    padding: 5px 15px;
}
.nx-cart-cover .table-bordered .product-total {
    padding-left: 90px;
}
.nx-cart-cover .table-bordered .pull-right {
	padding-right: 26px;
}
.to-checkout a:hover {
    border: 2px solid #888888;
    background-color: #898989;
    color: #fff;
}
/*CART*/

#top .pull-right {
	margin-top: 9px;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
    z-index: 1001;
    transition: 0.3s linear display;
}

#search .input-group-btn {
	display: none;
	transition: 0.3s linear display;
}
#search input[type="text"] {
    height: 55px;
    padding: 0;
    width: 857px;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 42px;
    margin-top: 20px;
    box-shadow: none;
    float: left;

}
#search input[type="text"]:focus {
	outline: none;
}
#search .cover-input-search {
	position: relative;
    border-bottom: 2px solid #393939;
    display: inline-block;
    padding-bottom: 5px;
    width: 900px;
    z-index: 1100;
}

#search .exit3 {
   	position: absolute;
    top: 39px;
    right: 5px;
}

.img-brend {
	display: inline-block;
	margin-left: 20px;
    margin-top: 7px;
}
.cover-brend {
	position: relative;

}
.eye {
position: relative;
    top: 30px;
    right: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #FFF;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s linear;
    background-image: url(../image/eye.svg);
    background-color: #f2f2f2;
 	z-index: 100;
}
.category-contant .product-layout:hover .eye {
	opacity: 0.3;	
}

.category-contant .product-layout .eye:hover {
	opacity: 1;	
}
.cover-brend {
    display: block;
    float: left;
}

.product-show {
	margin-right: 10px;
    float: right;
}
.product-show label {
	display: block;
	font-size: 12px;
	font-family: "Geometria";
	color: #323232;
	float: left;

}
#input-limit {
	display: inline-block;
	float: right;
	padding-left: 0;
}
#input-limit li{
	display: inline-block;
	float: left;
}
#input-limit li a {
    color: #5c5c5c;
    font-size: 12px;
    font-family: "Geometria";
    padding: 5px 10px;
}
#input-limit li a:hover {
	color: #323232;
}
.cover-news-right {
	padding-right: 0;
}

.classmagnifier {
	background-color: #000;
}
.bx-wrapper {
	width: 100%;
	float: left;
}
.bx-wrapper img {
    max-width: 70%;
    display: inline-block;
}

#bay-one-click-first-window, #bay-one-click-two-window {
	text-align: center;
	max-width: 641px;
	display: none;
}
.input {
    display: inline-block;
    height: 40px;
    background-color: #f5f5f5;
    background-color: #e6e6e6;
    border: none;
    color: #959595;
    font-family: 'Geometria';
	padding-left: 11px;
    margin-bottom: 23px;
    width: 100%;
}
.input-regisAndlogin {
	width: 100%;
    padding-top: 15px;
    padding-left: 7px;
    font-size: 14px;
    background: 0 0!important;
    position: relative;
    font-family: GillSansWGL,'Gill Sans',Calibri,sans-serif;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    font-weight: 400;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    color: #000;
}
.input:focus {
	outline: none;
}
#bay-one-click-first-window a, #bay-one-click-two-window a, #bay-one-click-two-window input[type="submit"] {
    text-transform: uppercase;
    font-size: 14px;
    padding: 9px 0 0;
    border: 2px solid #888888;
    width: 200px;
    height: 41px;
    display: inline-block;
    color: #898989;
}
#bay-one-click-two-window input[type="submit"] {
    padding: 1px 0 0;
}
input[type="submit"] {
	padding: 2px 0 0;
}
.widthfifty {
    width: 49%;
}
.widthquoter {
    width: 23%;
    margin-left: 1.5%;
}
.pull-left {
    margin-right: 1%;
}
textarea.input {
	height: 80px;
	resize: none;
	padding-top: 8px;
}

.bitbucket {
	margin: 10px;
}
.main-slider .arrow-left {
    left: 20px;
}
.main-slider .arrow-right {
    right: 20px;
}
.main-slider .arrow {
    top: 36%;
}
.cover-vs {
    position: relative;
    padding: 40px 0;
    display: inline-block;
    float: right;
    margin-right: 40px;
}
.bx-wrapper .bx-viewport {
	box-shadow: none;
	box-sizing: content-box;
}
.magnifier {
	border: none;
	background-color: #fff;
	opacity: 1;
}
/*.fancybox-wrap {
	top: 20%!important;
}*/
.window-text {
	    font-size: 12px;
    font-family: "Geometria";
    margin-bottom: 14px;
    display: inline-block;
}
.ncheck {
	margin-top: 100px;
}
.cover-cart-button-first {
	margin-top: 0;
	margin-bottom: 200px;
}
.cover-cart-button-second {
	margin-top: 70px;
}
.check-cover {
	max-width: 400px;
	float: right;
}
.nx-cart-cover .check-cover .table-bordered .product-total {
    padding-left: 0;
}

.b-slider {
	height: 421px;
    width: 100%;
    max-width: 100%;
	margin-top: 170px;
	    margin-bottom: 55px;
}
.b-slider img {
	display: inline-block;
	float: left;
}
.b-slider ul{
	margin: 0;
	font-size: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.b-slider li  {
	float: left;
}
.mCSB_container {
	width: 2245px;
}
.mCSB_dragger {
	width: 120px !important; 
	top: -4px;
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-3d.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	box-shadow: none;
	height: 1px;
	background-color: #c8c8c8;
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: none;
    background: none;
    background-color: #bfbfbf !important;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer {
    margin: 0 260px !important;
}
.mCS-3d.mCSB_scrollTools a{
	display: inline-block;
	width: 61px !important;
	height: 61px !important;
	background-image: url('../image/slider-arrow.png') !important;
	background-repeat: no-repeat;
	margin: 0 184px !important;
	top: -27px;
}
a.mCSB_buttonLeft {
	background-position: 0 0 !important;
}
a.mCSB_buttonRight {
	background-position: -61px 0 !important;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 34px !important;
}
.blog-container {
	max-width: 1602px;
	margin: 170px auto 0;
	color: #5a5a5a; 
	overflow: hidden;
}
.blog-items {
	margin-bottom: 100px;
}
.blog-items img {
	width: 100% !important;
}
.blog-items header {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-family: 'Geometria-Bold';
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.7;
}
.blog-items header a {
	color: #5a5a5a
}

.blog-items p {
    display: inline-block;
    width: 100%;
	text-align: center;
    font-family: 'Geometria-Light';
    font-size: 13px;
    margin-top: 0;
	line-height: 2;
}
.footer-social {
    text-align: center;
    margin-top: 20px;
}
.icon-footer {
    display: inline-block;
    width: 39px;
    height: 40px;
    background: url(../image/footer-sprite.png) no-repeat;
    margin: 0 14px;
}
.icon-facebook {
    background-position: 0 -40px;
}
.icon-facebook:hover {
	background-position: 0 0px;
}
.icon-vk {
	background-position: -39px -40px;
}
.icon-vk:hover {
	background-position: -39px 0px;
}
.icon-odn {
	background-position: -78px -40px;
}
.icon-odn:hover {
	background-position: -78px 0px;
}
.icon-google {
	background-position: -117px -40px;
}
.icon-google:hover {
	background-position: -117px 0px;
}
.icon-yandex {
	background-position: -156px -40px;
}
.icon-yandex:hover {
	background-position: -156px 0px;
}
.slider-opacity {
	position: relative;
}
.text-in-slider {
	position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.text-in-slider a{
    font-size: 22px;
    color: #fff;
}
.mt-posts-carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 2s;
    background: rgba(0, 0, 0, 0.7);
}
.slick-active .mt-posts-carousel-overlay{
	opacity: 0.4;
}
.blog-items .all-article {
    position: relative;
    left: 50%;
    margin-top: 35px;
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    width: 211px;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    margin-left: -105.5px;
    font-size: 16px;
    border-radius: 0;
    transition: .5s all;
    display: inline-block;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.all-article:hover {
    color: #484848;
    border: 1px solid #484848;
    background-color: transparent;
}
.snews-item {
	position: relative;
	text-align: right;
}
.snews {
    margin-top: 37px;
}
.snews-item {
    margin-left: 10%;
    margin-bottom: 115px;
}
.snews img{
	width: 100%;
}
.snews-item header {
	font-size: 20px;
    color: #fff;
    font-family: 'Geometria-Bold';
    position: absolute;
    top: 10px;
    left: 15px;
    text-align: left;
    font-size: 20px;
}
.snews-item p {
	margin: 0 0 0 50px;

}
.other-snews header {
	font-size: 36px;
    font-family: 'Geometria-Bold';
    width: 50px;
    top: 35%;
    line-height: 62px;

}
.other-snews .more {
	bottom: 160px;
    right: 22px;
}
.payed {
	background-color: #000;
}
.payed .more {
	position: absolute;
	bottom: 42px;
    left: 26px;
}
.payed .discount {
	color: #e0caa1;
	position: absolute;
	top: 37%;
	left: 24px;
	font-size: 19px;
	text-transform: uppercase;
	width: 50px;
	font-family: 'Geometria';
}
.payed .discount span{
	font-size: 36px;
	line-height: 1;
}
.payed header {
	font-family: 'Arial';
	font-size: 19px;
	color: #e1e1e1;
	text-transform: uppercase;
}
.payed header span {
	display: inline-block;
	width: 100%;
	font-weight: 700;
}
.payed img {
	width: 70%;
	text-align: right;
}
.more {
    font-family: "Geometria-Light";
    color: #e0caa1;
    border: 1px solid #e0caa1;
    background-color: transparent;
    text-transform: uppercase;
    display: inline;
    margin-left: 20px;
    font-size: 15px;
    width: 182px;
    height: 37px;
    text-align: center;
    padding-top: 8px;
    transition: .5s all;
}
.more:hover {
    color: #fff;
    border: 1px solid #d6b361;
    background-color: #d6b361;
}
.pagination {
	border-radius: 0px;
	border: none;
	margin-bottom: 120px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #5c5c5c;
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-family: "Geometria";
    font-size: 12px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
	color: #be973c;
    background-color: transparent;
    border-color: transparent;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.cover-img-blog {
	display: inline-block;
    width: 100%;
	max-height: 500px;
    overflow: hidden;
}
.cover-img-blog img {
	width: 100%;
	height: auto;
}

.form-control {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
}
.color-items {
	text-align: left;
}
.preview .color-item {
	text-align: left;
}
.wrapper {
	max-width: 1444px;
	margin: 0 auto;
	min-height: 530px;
}
.vblog-blog .wrapper {
	min-height: inherit;
}
.bx-wrapper {
    width: 100px;
    float: left;
}
.blog-post header {
    text-align: center;
    position: inherit;
	margin-top: 10px;
}
.date {
	font-family: 'Verdana';
    font-size: 9px !important;
    color: #c9c9c9;
    margin-top: 10px;
	text-align: center;
    margin-bottom: 30px;
}
.snews-item .blog-items {
	text-align: center;
	margin-top: 69px;
}
.snews-item .blog-items .all-article{
	margin: 0;
    position: inherit;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    padding-top: 6px;
    width: 162px;
}
.snews-item .blog-items p {
	margin: 0 10px;
}
.blog-slider {
    margin: 170px auto 0;
}
.blog-with-slider {
	margin: 30px auto 0;
}
.slick-active .text-in-slider {
    z-index: 100;
}
.page-info p {
	line-height: 2 !important;
	font-size: 10pt;
}
.page-info h1 {
	margin-top: 0;
	text-transform: uppercase;
}
.sidebar__menu .active {
    color: #181818;
    font-weight: bold;
    border-bottom: 3px solid #000;
}
.sidebar__menu li a {
	color: #3c3c3c;
    font-family: 'Geometria-Medium';
    font-size: 14px;
    padding: 5px 0 0;
    cursor: pointer;
    display: inline-block;
}
.page-info {
    margin-top: 160px;
    min-height: 400px;
    margin-bottom: 30px;
}
h3.best {
	margin-top: 40px;
}
.error-class {
	border: 1px solid red;
}

.question-register {
	font-family: "FFKievitWebPro",sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #0f0909;
    font-weight: 400;
    margin-bottom: 18px;
    margin-top: 0px;
}

.span-window-regisAndlogin {
    text-align: center;
    font-family: 'AizelAccent';
    font-size: 18px;
    letter-spacing: 12px;
    height: 26px;
    color: #0f0909;
    padding: 0 26px;
    line-height: 26px;
    font-weight: 400;
    background-color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: -13px;
}

.div-span-window-regisAndlogin {
    margin-top: 125px;
    margin-bottom: 10px;
    text-align: center;
    clear: both;
    line-height: 0;
    margin-bottom: 30px;
}

.div-span-window-regisAndlogin:after {
	content: "";
    display: block;
    background-color: #cfcfcf;
    width: 100%;
    height: 1px;
}

.owl-item .item {
	display: inline-block;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
}
.products-options .tr{
	padding: 2px 0;
}
.products-options .td{
   	margin-right: 10px;
    color: #4a4a4a;
    font-family: "Geometria";
    font-size: 15px;
/*    text-transform: lowercase;*/
    font-weight: bold;

}
.login-margin {
	margin-left: -15px;
}

.register-margin {
	float: right;
    padding-left: 120px;
    margin-right: -15px;
    border-left: 1px solid #cfcfcf;
}

.forgot-your-password {
	color: #848484;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 14px;
    text-decoration: underline;
    font-family: FFKievitWebPro, "Gill Sans", Calibri, sans-serif;
}
.forgot-your-password:hover {
	color: #848484;
	text-decoration: underline;
}
.forgot-and-submit {
	margin-top: 22px;
}
.send-button {
	margin-bottom: 10px;
	float: right;
    width: auto;
    font-family: FFKievitWebPro,"Gill Sans",Calibri,sans-serif;
    line-height: 29px;
    color: #fff;
    background-color: #000;
    min-width: 128px;
    display: inline-block;
    padding: 0 !important;
    text-decoration: none;
    height: 31px;
    vertical-align: top;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.send-button:hover {
	background-color: #fff;
    color: #000;
}

.send-button:focus {
	outline: inherit !important;
}
 
.window-forgot-your-password {
	margin-top: 100px;
}

.h1-forgot-password {
	text-align: center;
}
.input-forgot-password {
	width: 500px;
    margin: auto;
    float: none;
}
.forgot-your-password-submit {
	min-width: 150px;
}
.forgot-your-password-buttons {
	margin-top: 15px;
}
.success-registration-p p {
   font-family: "FFKievitWebPro",sans-serif;
   font-size: 14px;
  margin-bottom: 27px;
   text-transform: uppercase;
}
.personal-office {
	margin-top: 87px;
	margin-bottom: 10px;
}
#slideshow0 .item img {
	margin: -162px 0px;
}
.send-button-float {
	float: left;
}
.aside-left-office {
	margin-left: -15px;
	float: left;
}

.aside-left-office li {
	margin-bottom: 4px;
}

.aside-left-office li a {
    font-family: FFKievitWebPro, "Gill Sans", Calibri, sans-serif;
    color: #767676;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 2px;
}
.aside-left-office li a:hover {
	color: #181818;
    font-weight: bold;
    border-bottom: 3px solid #000;
}
.aside-left-office li .active {
	color: #181818;
    font-weight: bold;
    border-bottom: 3px solid #000;
}
.span-window-regisAndlogin-office {
	margin-bottom: -13px;
	font-size: 20px;
}
.form-office {
	margin-top: 25px;
}
.label-for-input-3d {
	font-weight: 400;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    color: #000;
    padding-left: 23px;
    position: absolute;
    text-align: left;
    left: 0;
    top: 0;
    z-index: 0;
    line-height: 41px;
    font-size: 13px;
    font-size: 1.3rem;
    opacity: .5;
    cursor: text;
    box-sizing: border-box;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform .3s,all .3s cubic-bezier(.21,1,.84,1.01);
    -o-transition: -o-transform .3s,all .3s cubic-bezier(.21,1,.84,1.01);
    transition: transform .3s,all .3s cubic-bezier(.21,1,.84,1.01);
}
.active-label {
	-webkit-transform: translate3d(0,-12px,0);
    transform: translate3d(0,-12px,0);
    font-size: 8px;
    font-size: 0.9rem;
}
.input-regisAndlogin-padding-login {
	padding-top: 0px;
}
.required-border-color {
	border-color: red;
}
.window-of-bottom {
	height: 245px;
    width: 771px;
    position: fixed;
    left: calc(50% - 385.5px);
    bottom: 0px;
    background-color: #FFF;
    border: 1px solid #3c763d;
    border-bottom: 0px;
    z-index: 1;
    margin-bottom: -500px;
    overflow: hidden;
    transition: 1s;
}
.window-of-bottom-show {
  	margin-bottom: 0px;
}
.window-of-bottom-close {
	cursor: pointer;
	width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(//cdn.aizel.ru/i/124786.jpg) center center no-repeat;
    z-index: 10;
    display: block;
}
.window-of-bottom-text {
	font-family: "FFKievitWebPro";
    letter-spacing: 2px;
    line-height: 35px;
    font-size: 1.9rem;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 25px 0;
    text-align: center;
    color: #0f0909;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: calc(50% - 305px);
}



@media (max-width: 1900px) {
/*	.all-article {
	    bottom: -75px;
	}
	.news-new {
	    margin-top: 95px;
	}*/
	.cat-block img {
	    max-height: 310px;
	}
	.main-header-slider {
	    top: 34%;
	}
	.arrow-right {
	    right: 1%;
	}
	.arrow-left {
	    left: 1%;
	}
	.icon-share-back {
	    margin: 0 30px;
	}
}

@media (max-width: 1500px) {
	.nx-cart-cover {
	    padding: 0 16px;
	}
	.fm-right {
		margin-left: 100px;
	}
	.product-added {
	    top: 22%;
	    left: 27%;
	    width: 46%;
	}
	.pr2-icon {
	    right: -100px;
	}
	.main-header-slider {
	    top: 13%;
	}
	footer hr {
	    width: 100%;
	    margin-left: 0;
	}
	.news-short-content {
	    position: absolute;
	    right: 7%;
        width: 370px;
	}
	.header-menu {
		margin-left: -400px;
	}
	.header-menu li a {
	    font-size: 15px;
    	margin: 0 30px;
	}
	.header-font {
		font-size: 14px;
	}
	.phone-div {
		padding: 13px 0;
	}
	.cat-block img {
	    max-height: 225px;
	}
	.cat-block span:not(.line) {
	    font-size: 18px;
	    padding: 10px 10px;
	}
	.news-span {
	    font-size: 24px;
	}
	.cat-block {
	    padding: 3% 0;
	}
	.social-block {
	    left: 10%;
	    width: 80%;
	}
	.cart-window {
	    padding: 35px 20px 40px;
	}
}
@media (max-width: 1300px) {
	.header-menu li a {
	    font-size: 14px;
	    margin: 0 20px;
	}
	.header-menu {
	    margin-left: -350px;
	}
}
@media (max-width: 1200px) {
	a.header-links, button.header-links {
	    position: relative;
	    width: 40px;
	}
	#cart-total {
	    left: 15px; 
	}
	.sidebar-filter {
		padding-left: 0;
	}
	.preview {
	    width: 98%;
	    left: 1%;
	    margin-left: 0;
	}
	.preview .main-photo {
		width: inherit;
		text-align: center;
	}
	.main-photo-custom-class {
		float: none;
	}
	.back .vertical-tools {
	    left: 12%;
	}
	.footer-number {
		margin-right: 0;
	}
	.footer-adress p {
		margin-right: 0;
	}
	.footer-menu {
		margin-left: 0;
	}
	.sent {
		margin-left: 0;
	} 
	.fm-right {
		margin-left: 100px;
	}
	.product-added {
	    left: 23%;
	    width: 54%;
	}
	.pr2-icon {
	    right: 0;
	}
	.size-up {
	    bottom: 73px;
	}
	.print {
	    bottom: 10px;
	}
	.print span {
	    font-size: 12px;
	}
	.vertical-tools {
	    left: 21%;
	}
	.image-additional {
	    max-width: 95px;
	}
	.verical-slider {
	    margin-top: 35px;
	    padding: 0;
	}
	.main-photo {
		width: 50%;
	}
	.one-click {
	    margin-right: 5px;
	}
	.main-more {
	    bottom: 80px;
	    left: 80px;
	}
	.main-header-slider {
		left: 80px;
	}
	.header-font {
		font-size: 12px;
	}
	.cat-block span:not(.line) {
	    font-size: 16px;
	    padding: 10px 10px;
	    letter-spacing: 2px;
	}
	.cat-block img {
	    max-height: 180px;
	}
	.news-span {
	    font-size: 20px;
	}
	.news-short-content {
	    right: 4%;
	    bottom: 6%;
	    width: 282px;
	    padding: 10px;
	}
	.news-image {
	    margin-left: 0;
	    width: 50%;
	}
	.header-news span {
		font-size: 30px;
	}
/*	.header-news {
	    margin-top: 130px;
	}*/
/*	.news-new-text .more {
	    margin: 90px 0 0 120px;
	}*/
/*	.about-brands p {
	    font-size: 18px;
	    padding: 0 5%;
	}
	.about-brands header {
	    font-size: 28px;
	}*/
	.icon-footer {
	    margin: 0 15px;
	}
	.my-btn {
	    width: 95px;
	    height: 28px;
	    font-size: 13px;
	}
	.sent input[type="email"] {
	    width: 190px;
	    height: 28px;
	    font-size: 15px;
	}
	.icon-pay {
	    margin: 0 2px;
	}
	.cart-window {
	    width: 80%;
	    left: 10%;
	    padding: 35px 0px 40px;
	}
	.category-contant .product-grid .product-thumb .caption {
		min-height: 153px;
	}

	.category-contant .addto-cart {
	    height: 35px;
	}
	.category-contant .addto-cart {
	    font-size: 12px;
	}
}
@media (max-width: 1100px) {
	.header-menu li a {
	   	font-size: 13px;
	    margin: 0px 10px;
	}
	.header-menu {
	 	margin-left: -310px;
	}
}
@media (max-width: 991px) {
	.product-added header {
		font-size: 16px;
	}
	#search {
		padding: 0px 10px;
	}
	#search .cover-input-search {
		width: 100%;
	}
	#search input[type="text"] {
		width: 100%;
	}
	#search .exit3 {
		z-index: 99;
	}
	.cover-news img {
	    width: 100%;
	}
	.cover-news {
	    padding-left: 0;
	    padding-left: 0;
	}
	.category-contant .color-item {
	    margin-left: -20px;
	}
	.preview {
	    width: 612px;
	    left: 50%;
	    margin-left: -306px;
	   	max-height: 800px;
    	overflow-y: auto;
    	overflow-x: hidden;
	}
	.back .brend, .back h1 {
	    font-size: 24px;
	}
	.back h1 {
	    font-size: 18px;
	    margin-top: 10px;
	}
	.color {
	    margin-top: 5px;
	}
	.stock {
	    margin-top: 0px;
	}
	.back .thumbnails .image-additional {
	    margin-left: 1px;
	}
	.nx-cart-cover {
	    padding: 0;
	}
	.footer-paysystem {
		text-align: left;
		margin-left: 0;
	}
	.footer-social {
		text-align: left;
		margin-left: -14px
	}
	.footer-menu {
		margin-left: 0;
	}
	.sent {
		margin-left: 0;
	} 
	.fm-right {
		float: right;

	}
	.social-block {
	    left: 0;
	    width: 100%;
	}
	.back {
	    position: fixed;
	    left: 0;
	    top: 0px;
	}
	.product-added {
	    top: 22%;
	    left: 15%;
	    width: 70%;
	}
	.pr2-icon {
	    right: 5%;
	}
	.image-additional {
	    max-width: 115px;
	}
	.vertical-tools {
	    left: 31%;
	}
	.thumbnails .image-additional {
	    margin-left: 9px;
	}
	.product-footer .nav-tabs>li>a {
	    font-size: 16px;
	}
	.arrow-right {
	    right: 2%;
	}
	.arrow-left {
	    left: 2%;
	}
	.main-header-slider {
	    font-size: 25px;
		width: 225px;
	}
	.header-menu {
	   display: none;
	}
	.cat-block img {
	    max-height: 230px;
	}
	.cat-block {
	    padding: 5% 0;
	}
	#nav-toggle {	
		position: absolute;
	    display: inline-block;
	    top: 13px;
	    left: 13px;
	    cursor: pointer;
	}
	#nav-toggle span { 
		position: absolute; 
		left: -4px;
    	top: 4px;
    }

	#nav-toggle span, 
	#nav-toggle span:before,
	#nav-toggle span:after {
	    cursor: pointer;
	    border-radius: 1px;
	    height: 3px;
	    width: 24px;
	    background: #656565;
	    position: absolute;
	    display: block;
	    content: '';
	}
	#nav-toggle span:before {
	  top: -8px;
	}
	#nav-toggle span:after {
	  bottom: -8px;
	}
	/* Добавим анимацию всех свойств для блоков нашей иконки */
	#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	  transition: all 500ms ease-in-out;
	}

	/* Центральный блок делаем прозрачным */
/*	#nav-toggle.active span {
	  background-color: transparent;
	}*/

/*	/* Смещаем псевдо-элементы в центр иконки (на место основного блока) */
/*	#nav-toggle.active span:before, #nav-toggle.active span:after {
	  top: 0;
	}
*/
/*	 Наклоняем псевдо-элементы под углом 45 градусов, но в разные стороны 
	#nav-toggle.active span:before {
	  transform: rotate(45deg);
	}*/
/*	#nav-toggle.active span:after {
	  transform: rotate(-45deg);
	}*/
	.news-image {
	    width: inherit;
	    float: right;
	}
	.footer-number {
	    margin-top: 28px;
		margin-bottom: 50px;
	}
	.footer-paysystem {
	    margin-top: 26px;
	}
	.news-span {
	    font-size: 24px;
	}
	.news-short-content {
	    position: absolute;
	    right: 14%;
	    width: 293px;
	}
	.header-menu-mobile {
		display: none;
		position: absolute;
		top: 51px;
		width: 100%;
		left: 0;
		margin-left: 0;
		background-color: #656565;
		padding: 30px;
	}
	.header-menu-mobile li:nth-child(3) {
		margin-left: 0;
	}
	.header-menu-mobile li {
		display: inline-block;
		width: 100%;
		float: none;
	}
	.header-menu-mobile li a {
		color: #fff;
		font-size: 20px;
		padding: 10px;
	}
	.nx-cart-cover .table-bordered .product-total {
	    padding-left: 26px;
	}
	.back .icon-pr2-star {
	    left: 214px;
	}
	.back .icon-pr2-share {
	    left: 289px;
	}
	.back .more {
	    bottom: inherit;
	    right: 15px;
	    padding-bottom: 20px;
	}
	.instra {
	    background-size: 20%;
	}
	.brend {
	    font-size: 20px;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer {
	    margin: 0 70px !important;
	}
	.mCS-3d.mCSB_scrollTools a {
	    margin: 0 0px !important;
	}
	.header-font {
	    margin-left: 30px;
	}
	.my-sidebar {
	    position: relative;
	    padding-left: 15px;
	}
	.news-new-product {
	    background-size: cover;
	    background-position: 50%;
	}
}
@media (max-width: 768px) {

	.brend-h4-custom-style a{
		margin-top: 10px;
	}
	.div-span-window-regisAndlogin {
		margin-top: 10px;
	}
	.instra {
	    background-size: 30%;
	}
	.mass-class {
		width: 33.3333333%;
	}
	.product-show {
	    margin-right: 0;
	}
	#input-limit li a {
	    padding: 5px 9px;
	}

	.back .verical-slider {
	    padding: 20px 0;
	    width: 15%;
	    margin-left: 30px;
	}
	.back .size-up {
	    bottom: 36px;
	    right: -14px;
	}
	h4 a, .nx-product h1 {
	    font-size: 16px;
	}
	.back .thumbnails .image-additional {
	    margin-left: 1px;
	}
	.back .image-additional img {
		width: 100%;
	}
	.category-contant .addto-cart {
	    font-size: 14px;
	}
	.category-contant .color {
	    position: relative;
	}

	.cart-window {
	    width: 96%;
	    left: 2%;
	}
	.header-cart {
	    margin-bottom: 10px;
	}
	.cart-window span.quantity {
	    left: 50%;
	    top: 74px;
	    margin-left: -43px;
	}
	.cart-window .product-name {
	    margin: 0;
	}
	.cart-window .table-striped .color {
	    bottom: 74px;
	    margin-left: -68px;
	}
	.cart-window .table-striped .product-price {
	    top: -55px;
	    position: relative;
	    text-align: center;
	}
	.cart-window .product-info .brend {
	    font-size: 20px;
	}
	.cart-window .product-name {
		font-size: 18px;
	}
	.cart-window .table .tr {
	    padding: 30px 0 0;
	}
	.cart-window  .table-bordered .product-total {
	    padding-left: 0px;
	}
	.arrow-up {
	    position: fixed;
	    bottom: 42px;
	    right: 30px;
	}
	.addto-cart {
	    width: 130px;
	}
	.main-photo img {
		width: 50%;
	}
	.preview .main-photo {
	    width: 63%;
	    margin-right: 20px;
	}
	.preview {
	    width: 98%;
	    left: 1%;
	    margin-left: 0;
	    max-height: 85%;
	    padding: 20px 0px 20px;
	}
	.footer-adress p {
		text-align: left;
	}
	.footer-number {
		text-align: left;
	}
	.social-block {
		top: 24%;
	    left: 50%;
	    margin-left: -232px;
	    width: 464px;
	}
	.product-added .brend {
	    font-size: 20px;
	}
	.product-added h1 {
	    font-size: 18px;
	}
	.product-added header {
	    margin-left: 75px;
	}
	.product-added {
	    top: 20%;
	    left: 5%;
	    width: 90%;
	}
	.vertical-tools {
	    left: 41px;
	}
	.nx-product {
	    margin-top: 70px;
	}
	.icon-pr2-star {
	    top: 130px;
	}
	.icon-pr2-share {
	    top: 180px;
	}
	.discount span {
	    font-size: 30px;
	}
	.size-up {
	    bottom: 65px;
	    right: 0;
	}
	.print {
	    display: none;
	}
	.verical-slider {
        margin-top: 0px;
	    padding: 0;
	    width: 100%;
	}
	.cover-vs {
	    position: relative;
	    padding: 0 40px;
	    display: inline-block;
	    width: 100%;
	}
	.thumbnails .image-additional {
	    margin-left: 18px;
	}
	.image-additional {
	    max-width: 100px;
	}
	.product-footer .nav-tabs>li>a {
	    font-size: 10px;
	}
	.nav>li>a {
	    padding: 10px 5px;
	}
	#logo {
		width: 100px;
	    top: 0px;
	    margin-left: -50px;
	}
	h3 {
	    margin-bottom: 20px;
	}
	.arrow-right {
	    right: 2%;
	}	
	.arrow-left {
	    left: 2%;
	}
	#top {
	    background-color: #fdfdfd;
	    padding: 0;
	    margin: 0px 0 130px 0;
	}
	#content {
	    min-height: inherit;
	}
	.cover-news {
	    padding-left: 0;
	    padding-right: 0;
	}
	.news-span {
	    font-size: 18px;
	    line-height: normal;
	    left: 5%;
	    top: 5%;
	}
	.news-short-content {
		display: none;
	}
	.news-new-text .header {
	    left: 5px;
		font-size: 2em;
	}
	.header-news span {
	    font-family: "GOTHIC";
	    margin-top: 12px;
	    display: inline-block;
	    font-size: 1em;
	}
	.header-news {
	    margin-top: 45px;
	    margin-left: 5%;
	   	font-size: 2em;
	    padding-left: 0;
	}
	.news-image {
	    width: 60%;
	    float: right;
	}
	.about-brands {
	    margin-top: 30px;
	}
	.about-brands header {
	    padding: 0px 5%;
	    margin-bottom: 15px;
	}
	.footer-number {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.icon-footer {
	    margin: 0px 8px;
	}
	.sent {
		margin-top: 15px;
	}
	.icon-pay {
	    margin: 0;
	}
	.footer-paysystem {
	    margin-top: 18px;
	    margin-left: 0;
	}
	.main-more {
		bottom: 11px;
	    left: 5%;
	    width: 28%;
	    font-size: 1em;
	    height: 34px;
	    padding-top: 6px;
	}
	.main-header-slider {
	    left: 5%;
	}
	.product-added {
	    padding: 20px 0 22px;
	}
	.product-info .brend, .product-info .product-name {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.table-striped .color {
	    position: absolute;
	    bottom: inherit;
	    left: 50%;
	    margin-left: -64px;
	}
	span.quantity {
	    left: 50%;
	    top: 20px;
	    margin-left: -43px;
	}
	.table-striped .tr .td {
	    min-height: 100px;
	}
	.table-striped .product-price {
	    top: -30px;
	    position: relative;
	    text-align: center;
	}
	.table .tr .product-price-block {
	    position: initial;
		min-height: 0px;
	}
	.table .tr { 
		position: relative;
	}
	.cart-star-button {
	    top: 75px;
	    right: 12px;
	}
	.back .pr2-icon {
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	.back .btn-group {
		display: inline-block;
		width: 100%;
	}
	.back .share-button {
		position: absolute;
		right: 50px;
		top: 140px;
	}
	.back .star-button {
		position: absolute;
		right: 50px;
		top: 90px;
	}
	.snews-item {
	    margin-left: 0;
	}
	.icon-footer {
	    margin: 0 5px;
	}
	.mCS-3d.mCSB_scrollTools a {
	    transform: scale(0.5);
	}
	.mCSB_dragger {
	    width: 20px !important;
	}
	.eye {
		display: none;
	}
	.main-slider .arrow {
		display: none;
	}
	.news-new {
	    margin-bottom: 30px;
	}
	.instra {
	    padding-top: 90px;
	}
	.footer-social {
	    margin-left: -4px;
	    margin-bottom: 10px;
	}
	#top .pull-right {
	    margin-right: -14px;
	}
	#slideshow0 .item img{
		display: block;
		width: auto;
		max-width: 200%;
		height: auto;
		min-height: 300px !important;
	}
	.product-thumb .caption {
	    padding: 0;
	}
	.all-article {
	    padding-top: 6px;
	    width: 60%;
	    height: 34px;
	    margin-left: -30%;
	    font-size: 14px;;
	}
	.product-footer .brend {
	    font-size: 12px;
	    width: 100%;
	}
	.product-thumb h4 {
	    font-weight: bold;
	    margin: -5px 0 5px;
	}
	.product-thumb .price {
	    font-size: 12px;
	}
	.product-thumb .price-old {
	    margin-left: 5px;
	    font-size: 10px;
	}
	.carousel .product-thumb .button-group button {
		width: 60%;
		font-size: 10px;
	}
	.news-block {
	    padding-bottom: 65px;
	}
	.main-photo {
	    width: 100%;
	    text-align: center;
	    margin-right: 0;
	    margin-left: 0;
	    padding: 0;
	}
	.up {
		top: 45%;
	    left: 0;
		-moz-transform: rotate(-90deg); /* Для Firefox */
		-ms-transform: rotate(-90deg); /* Для IE */
		-webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
		-o-transform: rotate(-90deg); /* Для Opera */
	    transform: rotate(-90deg);
	}
	.down {
		top: 45%;
		right: 0;
   	 	left: initial;
	    -moz-transform: rotate(-90deg); /* Для Firefox */
		-ms-transform: rotate(-90deg); /* Для IE */
		-webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
		-o-transform: rotate(-90deg); /* Для Opera */
	    transform: rotate(-90deg);
	}
	.discount {
		left: 10px;
		font-size: 12px;
		text-align: left;
		line-height: normal;
	}
	.bx-wrapper {
	    width: 100%;
	    float: none;
	}
	input[type="radio"] + label::before {
	    height: 15px;
	    width: 15px;
	}

	input[type="radio"]:checked + label::before {
	    height: 15px;
	    width: 15px;
	}
	.page-info #content {
	    margin-top: 30px;
	}
	.brend {
	    font-size: 12px;
	}
	h4 a {
	    font-size: 14px;
		margin-top: 10px;
	}
	.cover-vs {
	    margin-right: 0px; 
	}



}
@media (max-width: 480px) {
	.back .verical-slider {
	    padding: 20px 0;
	    width: 50px;
	    margin-left: 9px;
	}
	.blog-container, .blog-post {
		margin: 35px auto 0;
	}
	.main-more {
		width: 32%;
		font-size: 0.8em;
		height: 28px;
		padding-top: 3px;
		bottom: 30px;
	}
	.product-added {
	    top: 25%;
	}
	.social-block {
	    left: 0;
	    margin-left: 0;
	    width: 100%;
	}
	.icon-share-back {
	    margin: 0px;
	    transform: scale(0.5);
	}
	.product-added h1 {
	    font-size: 14px;
	    margin-top: 5px;
	}
	.product-added .brend {
	    font-size: 16px;
	}
	.product-added header {
	    margin-left: 9px;
	    padding: 0 10px;
	    margin-bottom: 10px;
	}
	.main-photo {
	    margin-right: 10px;
	}
	.thumbnails .image-additional {
	    margin-left: 0px;
	}
	.product-footer .nav-tabs>li>a {
	    font-size: 10px;
	    height: 51px;
	    text-align: center;
	}
	.main-header-slider {
	    font-size: 18px;
	    width: 60%;
	    left: 5%;
	    top: 100px;
	}
	.main-header-slider span {
	    margin-top: 0px;
	}

	.cat-block {
	    padding: 13% 0;
	}
	.cat-block img {
	    max-height: 200px;
	}
	.cover-carousel .owl-carousel img {
	    max-width: 50%;
	}
	.arrow {
	    top: 18%;
	    display: none;
	}
	.news-new-text .more {
		width: 60%;
		position: initial;
		font-size: 1em;
		margin: 15px 20% 30px;
		height: 34px;
		padding-top: 9px;
	}
	.instra {
	    background-size: 40%;
	}
	a.header-links, button.header-links {
		width: 40px;
	}
	.bx-wrapper img {
	    max-width: 60%;
	    display: inline-block;
	}
	.carousel .product-thumb .button-group button, .carousel2 .product-thumb .button-group button  {
		width: 60%;
		font-size: 10px;
	}


}
@media (min-width: 991px) { 
	.header-menu-mobile {
		display: none;
	}
}

@media (max-width: 560px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 70%;
	}
}

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	.window-of-bottom-text {
		margin-top: calc(50% - 150px);
	}
	.window-of-bottom {
		left: calc(50% - 200px);
		width: 400px;
	}
	.form-office {
		margin-top: 10px;
	}
	.fa-phone-menu-mobile {
		display: block;
	    font-size: 21px;
	    position: absolute;
	    left: 45px;
	    top: 8px;
	    z-index: 99999;
	    cursor: pointer;
	    color: #656565;
	}
	.aside-left-office {
		margin-top: 10px;
		margin-left: 0px;
		padding-left: 15px;
	}
	.send-button-float {
		margin-bottom: 10px;
	}
	.input-forgot-password {
		width: 100%;
		margin: 0px;
		padding-left: 15px;
 		padding-right: 15px;
	}
	.login-margin {
		margin-left: 0px;
		margin-bottom: 25px;
	}
	.span-window-regisAndlogin {
		font-size: 15px;
	}
	.register-margin {
		float: left;
		padding-left: 15px;
		margin-right: 0px;
		border-left: 0px;
	}
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}